<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}" xmlns="http://www.w3.org/1999/html">
<body>
<div layout:fragment="content">
    <h1>Movie Form</h1>
    <a href="/movie/search">Search of Movie</a>
    <form method="post" action="/movie">
        <input type="hidden" name="_method" value="put" th:if="${movie != null}">
        <input type="hidden" name="id" th:value="${movie?.id}">

        <div>
            <label for="name">Name:</label>
            <input id="name" name="name"  th:value="${movie?.name}">
        </div>

        <div>
            <label for="duration">Duration (in minutes):</label>
            <input id="duration" name="duration" th:value="${movie?.duration}">
        </div>

        <div>
            <label for="years">Year of release:</label>
            <input id="years" name="years" th:value="${movie?.years}">
        </div>

        <div>
            <label for="gender">Gender:</label>
            <input id="gender" name="gender"th:value="${movie?.gender}">
        </div>


        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>